.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #C0DEFF;
}

h1 {
  margin: 30px;
  /* font-family: 'Lobster', cursive; */
  font-family:Verdana;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  /* color: #4ECCA3; */
  color:#ADA2FF;
}

p {
  font-size: 2rem;
  /* color: #4ECCA3; */
  font-weight: bolder;
  color: #ff91c4;
  font-family:'Courier New', Courier, monospace;
}

img {
  width: 80%;
}
h2{
  margin: 30px;
  margin-top: 50px;
  font-family:Verdana;
  /* text-shadow: 5px 0 #232931; */
  font-size: 40px;
  color:#232931;
  font-weight: bold;  
}
footer {
  margin-top: 10%;
  color: #000000;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
